{% load static %}


{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% load material_form %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="container">
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    </div>
    {% endif %}
{% endif %}

<div class="container">
    <form class="mui-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}
        </div>
        <div>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </div>
        <div>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </div>
        <div>
          <input type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
</div>
