body{
    background-image: url("https://picsum.photos/1920/1080");
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background: white
}